html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --number-length: 100px;
}

.number {
    margin: 2px;
    font: bold 16px Arial, sans-serif;
    text-align: right;
}


.line {
    border-top: 1px solid;
    width: var(--number-length);
}

.numbers-and-line {
    height: 100px;
    display: flex;
    flex-direction: column;

}

.column-calculations {
    display: flex;
}

.operator {
    margin: 2px;
    padding-top: 11px;
    font: bold 16px Arial, sans-serif;
}