.button {
  background-color: #1E65B7;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}
  
.button:hover {
  background-color: #004B99; 
}
  
.button:focus {
  outline: none; 
}
