@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <label for="number1">Number 1:</label>
    <input type="number" name="number1" id="number1" required>

    <label for="number2">Number 2:</label>
    <input type="number" name="number2" id="number2" required>

    <label for="operator">Operator:</label>
    <select name="operator" id="operator" required>
        <option value="+">+</option>
        <option value="-">-</option>
    </select>

    <input type="submit" value="Calculate">
</form>
